<div class="card">
  <%= link_to image_tag(blog.image, class: :card__img ), blog_path(blog.id)%>
  <div class="card__body">
    <%= link_to blog.title, blog_path(blog.id), class: :card__title%>
    <p class="card__summary">
      <%= blog.catch %>
    </p>
    <div class="card_bottom_area">
      <%= link_to blog.user.name, user_path(blog.user.id), class: :card__user %>
      <%= "＃#{blog.category.name}" %>
    </div>
  </div>
</div>