<main class="main">
  <div class="inner">
    <div class="main_top">

      <% if user_signed_in? %>
        <%= link_to "#{current_user.name}さん,今日も学習がんばりましょう！", user_path(current_user.id), class: :greeting__link %>
        <%= search_form_for @p, url: search_blogs_path, class: "search-form" do |form| %>
          <%= form.text_field :title_cont, placeholder: "記事のタイトルを検索", class: "search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
        <%= link_to "新規投稿", new_blog_path, class: :form_submission %>
      <% else %>
        <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :keyword, placeholder: "記事を検索", class: "signout_search-input" %>
          <%= form.submit "検索", class: "search-btn" %>
        <% end %>
      <% end %>
      
    </div>
    <div class="card__wrapper">
      <%= render partial: 'blog', collection: @blogs %>
    </div>
  </div>
</main>