<main class="main">
   <div class="inner">
    <%= form_with(url: search_blogs_path, local: true, method: :get, class: "search-form search-function") do |form| %>
    <%= form.text_field :keyword, placeholder: "記事を検索", class: "search-input-now" %>
    <%= form.submit "検索", class: "search-btn" %>
    <%= link_to "戻る", 'javascript:history.back()', class: :user__edit__child %>
    <% end %>
    <% if @blogs.length != 0 %>
      <div class="card__wrapper">
        <% @blogs.each do |blog| %>
            <%= render partial: "blog", locals: { blog: blog } %>
        <% end %>
    <% else %>
        <h2 class="no_result_text">検索結果が見つかりませんでした</h2>
        <%= image_tag 'think2.png', class: :think_img %>
    <% end %>
    </div>
   </div>
</main>