<main class="main">
   <div class="inner">
    <%= search_form_for @p, url: search_blogs_path, class: "search-form search-function" do |f| %>
        <%= f.text_field :title_cont, placeholder: "記事のタイトルを検索", class: "search-input-now" %>
        <br>
        <%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: 'カテゴリーを選択' %>
        <br>
        <%= f.submit '検索', class: "search-btn search-btn-margin" %>
        <%= link_to "戻る", 'javascript:history.back()', class: :user__edit__child %>
    <% end %>
    <% if @blogs.length != 0 %>
      <div class="card__wrapper">
        <% @blogs.each do |blog| %>
            <%= render partial: "blog", locals: { blog: blog } %>
        <% end %>
    <% else %>
        <h2 class="no_result_text">検索結果が見つかりませんでした</h2>
        <%= image_tag 'think2.png', class: :think_img %>
    <% end %>
    </div>
   </div>
</main>