<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>purogramming-learning-application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="area_logo_header">
          <%= link_to image_tag("head.png", class: :logo), root_path %>
        </div>
        <nav class="nav_header">
          <ul class="list_nav_header">
            <li><a href="">フォーム</a></li>
            <li><a href="">カレンダー</a></li>
            <li><a href="">ブログ</a></li>
            <li><a class: :nav__btn href="">ログイン</a></li>
            <li><a class: :nav__btn href="">新規登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>