<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>purogramming-learning-application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
  <%# ヘッダー %>
    <div class="top_header">
      <div class="container">
        <div class="area_logo_header">
          <%= link_to image_tag("head.png", class: :top_logo), root_path %>
        </div>
        <% if user_signed_in? %>
        <nav class="nav_header">
          <ul class="list_nav_header">
            <li><%= link_to "フォーム", forms_path, class: :top_page_nav %></li>
            <li><%= link_to "カレンダー", events_path, class: :top_page_nav %></li>
            <li><%= link_to "ブログ", blogs_path, class: :top_page_nav %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :top_page_nav %></li>
          </ul>
        </nav>
        <% else %>
        <nav class="nav_header">
          <ul class="list_nav_header">
            <li><%= link_to "フォーム", forms_path, class: :top_page_nav %></li>
            <li><%= link_to "カレンダー", events_path, class: :top_page_nav %></li>
            <li><%= link_to "ブログ", blogs_path, class: :top_page_nav %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: :top_page_nav %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: :top_page_nav %></li>
          </ul>
        </nav>
        <% end %>
      </div>
    </div>
    <%# ローディング %>
    <div id="loading">
      <div class="spinner"></div>
    </div>
    <%# メイン %>
    <main>
    <div class="area_top_view">
      <div class="container">
      <%= image_tag("top.png") %>
      </div>
    </div>
    <%# アプリの説明 %>
      <section class="area_home_about">
        <div class="container">
          <div class="head_home">
            <h2 class="ttl_top">learning appの概要</h2>
          </div>
          <div class="body_home">
            <div class="layout_2_div">
              <div class="img">
                <%= image_tag("macbook.png") %>
              </div>
              <div class="text_home">
              <p class="ttl">learning appとは？</p>
              <p class="description">駆け出しエンジニアに向けた,<br>ブログ、振り返りフォーム、カレンダーなどを導入したプログラミング学習アプリです。</p>
              <div class="btnarea">
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# アプリの機能一覧 %>
      <section class="area_home_content bg_black">
        <div class="container">
          <div class="head_home">
            <h2 class="ttl">機能一覧</h2>
          </div>
          <div class="body_home">
            <ul class="list_feature">
              <li>
                <%= image_tag 'blog.png', size: '120x120' %>
                <p class="ttl"><%= link_to "ブログ", blogs_path, class: :top_page_nav %></p>
                <p class="description">毎日の学習で身につけた技術やエラーの解消方法を<br>隙間時間にブログの記事にまとめ公開することによ<br>ってアウトプットできます。</p>
              </li>
              <li>
                <%= image_tag 'form.png', size: '120x120' %>
                <p class="ttl"><%= link_to "フォーム", forms_path, class: :top_page_nav %></p>
                <p class="description">毎日の学習で良かった点や明日から改善したい点を<br>言語化します。フォームの記述をすることでより良<br>い学習方法を考える機会を提供します。</p>
              </li>
              <li>
                <%= image_tag 'calendar.png' , size: '120x120' %>
                <p class="ttl"><%= link_to "カレンダー", events_path, class: :top_page_nav %></p>
                <p class="description">毎日の学習の予定をカレンダーにまとめ、エンジニ<br>アに必要な自己管理能力の向上を目指します。スケ<br>ジュール管理を習慣にすることができます。</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <%# アプリを作成した経緯 %>
      <section class="area_home_background">
        <div class="container">
          <div class="head_home">
            <h2 class="ttl">アプリ作成の経緯と対象者</h2>
          </div>
          <div class="body_home">
            <div class="layout_2_div">
              <div class="img">
                <%= image_tag("pc.png") %>
              </div>
              <div class="text_home">
              <p class="ttl">アプリを作成した理由</p>
              <p class="description">駆け出しエンジニアにプログラミング学習を効率よく行うための環境を提供する目的で作成されたアプリです。</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <p class="copyright">Copyright © LEARNING APP All rights reserved.</p>
    </footer>
  </body>
</html>