<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>purogramming-learning-application</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
  <%# ヘッダー %>
    <header>
      <div class="container">
        <div class="area_logo_header">
          <%= link_to image_tag("head.png", class: :logo), root_path %>
        </div>
        <nav class="nav_header">
          <ul class="list_nav_header">
            <li><a href="">フォーム</a></li>
            <li><a href="">カレンダー</a></li>
            <li><a href="">ブログ</a></li>
            <li><a class: :nav__btn href="">ログイン</a></li>
            <li><a class: :nav__btn href="">新規登録</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <%# メイン %>
    <main>
    <div class="area_top_view">
      <img src="assets/images/top.png" alt="トップ画像">
      <p class="ttl">learning app</p>
    </div>
    <%# アプリの説明 %>
      <section class="area_home_about">
        <div class="container">
          <div class="head_home">
            <h2 class="mini_title">learning appとは？</h2>
          </div>
          <div class="head_home">
          コンテンツ
          </div>
        </div>
      </section>
      <%# アプリの機能一覧 %>
      <section class="area_home_content">
        <div class="container">
          <div class="head_home">
            <h2 class="ttl">機能一覧</h2>
          </div>
          <div class="head_home">
          コンテンツ
          </div>
        </div>
      </section>
      <%# アプリを作成した経緯 %>
      <section class="area_home_background">
        <div class="container">
          <div class="head_home">
            <h2 class="mini_title">アプリ作成の経緯と対象者</h2>
          </div>
          <div class="head_home">
          コンテンツ
          </div>
        </div>
      </section>
    </main>
  </body>
</html>