<div class="form__wrapper">
  <h1 class="page-heading">編集フォーム</h1>
  <%= form_with(model: @event, local: true) do |form| %>

  <%= render 'devise/shared/error_messages', model: form.object %>

    <div class="parent">
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>

    <div class="parent">
      <div class="child">
        <%= form.label :日時 %>
        <%= form.datetime_select :start_time %>
      </div>
    </div>

    <div class="parent">
      <%= form.label :詳細情報 %>
      <%= form.text_field :content %>
    </div>


    <div class="submit">
      <%= form.submit %>
    </div>

  <% end %>
</div>