<div class="calendar">
   <%= link_to 'イベントを追加', new_event_path, class: :add__calendar %>
</div>
<% @events.each do |event| %>
  <table>
    <tbody>
      <tr>
        <th class="table__col4"><%= event.title %></th>
        <td class="table__col5"><%= l event.start_time %></td>
        <td class="table__col6"><%= link_to '詳細', event_path(event.id) %></td>
        <td class="table__col6"><%= link_to '編集', edit_event_path(event.id) %></td>
        <td class="table__col6"><%= link_to '削除',event_path(event.id), method: :delete %></td> 
      </tr>
    </tbody>
  </table>
<% end %>
<%= month_calendar events: @events do |date, events| %>
   <%= date.day %>
<% events.each do |event| %>
    <div>
      <%= event.title %>
    </div>
  <% end %>
<% end %>

